<div class="left-section"> 
  <div class="character-info">
    <div class="character-info__left">
      <div class="character">
        <label for="name">Nombre</label>
        <span>Demo Span</span>
      </div>
      <div class="character">
        <label for="especies">Especie</label>
        <span>Demo Span</span>
      </div>
      <div class="character">
        <label for="status">Estado</label>
        <div class="character-status">
          <span>Live</span>
          <div class="circle live"></div>
        </div>
      </div>
      <app-finder class="data-finder"></app-finder>
    </div>
    <div class="character-info__right">
      <div class="character">
        <label for="id">ID</label>
        <span>Demo Span</span>
      </div>
      <div class="character">
        <label for="location">Locación</label>
        <span>Demo Span</span>
      </div>
      <div class="character">
        <label for="gender">Genero</label>
        <span>Demo Span</span>
      </div>
      <app-regex class="data-regex"></app-regex>
    </div>
  </div>
  <app-historial class="data-historial"></app-historial>
</div>
<div class="right-section">
  <app-image></app-image>
</div>