<div class="left-section"> 
  <div class="character-info">
    <div class="character-info__left">
      <div class="character">
        <label for="name">Nombre</label>
        <span *ngIf="!character">{{data[randomCharacter].name}}</span>
        <span *ngIf="character">{{character.name}}</span>
      </div>
      <div class="character">
        <label for="especies">Especie</label>
        <span *ngIf="!character">{{data[randomCharacter].species}}</span>
        <span *ngIf="character">{{character.species}}</span>
      </div>
      <div class="character">
        <label for="status">Estado</label>
        <div class="character-status">
          <span>Live</span>
          <div class="circle live"></div>
          <span *ngIf="!character">{{data[randomCharacter].status}}</span>
          <span *ngIf="character">{{character.status}}</span>
        </div>
      </div>
      <app-finder class="data-finder" (characterSearch)="searchCharacter($event)"></app-finder>
    </div>
    <div class="character-info__right">
      <div class="character">
        <label for="id">ID</label>
        <span *ngIf="!character">{{data[randomCharacter].id}}</span>
        <span *ngIf="character">{{character.id}}</span>
      </div>
      <div class="character">
        <label for="location">Locación</label>
        <span *ngIf="!character">{{data[randomCharacter].location.name}}</span>
        <span *ngIf="character">{{character.location.name}}</span>
      </div>
      <div class="character">
        <label for="gender">Genero</label>
        <span *ngIf="!character">{{data[randomCharacter].gender}}</span>
        <span *ngIf="character">{{character.gender}}</span>
      </div>
      <app-regex class="data-regex"></app-regex>
    </div>
  </div>
  <app-historial class="data-historial"></app-historial>
</div>
<div class="right-section">
  <app-image [image]="data[randomCharacter].image" [characterImage]="character.image"></app-image>
</div>