button {
  background-color: #1BD800;
  border: none;
  border-radius: 7px;
  color: #FFF;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  height: 45px;
  width: 115px;
}

input {
  background: none;
  border: none;
  border-bottom: 2px solid #FFF;
  color: #FFF;
  font-size: 17px;
  outline: none;
  width: 240px;
}

label {
  color: #FFF;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 29px;
  font-weight: bold;
}
